body{
    margin:0;
    padding:0;
    font-family: 'poppins',sans-serif;
    background-color: #f9f9f9;
}
#root{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0,30px;
    box-sizing: border-box;
}