
.embla {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-top: 25px;
}

.embla__container {
  display: flex;
}


.embla__slide {
  flex: 0 0 100%; 
  min-width: 0;
}


.carousel-image {
  width: 100%;
  height: 400px;
  object-fit:fill;
  display: block;
}