.search-bar{
    display:flex;
    align-items: center;
    background-color: #ffffff;
    border:1px solid #ccd4ff;
    border-radius: 8px;
    padding:6px 10px;
    width:260px;
    box-shadow:0 1px 4px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
}

.search-bar:focus-within{
    border-color:#003399;
    box-shadow: 0 0 4px rgba(0,51,153,0.3);
}

.search-icon{
    font-size: 0.9rem;
    color:#003399;
    margin-right:8px;
}

.search-input{
    border: none;
    outline:none;
    font-size: 0.95rem;
    width:100%;
    color:#333;
    background: transparent;
}

.search-input::placeholder{
    color:#888;
}