:root {
    font-family: 'poppins', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #f8faff;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}